html{height:100%;font-family: sans-serif}
body{height:100%;margin:0}
a {text-decoration: none;}
.button {padding:4px;background:#323232;color:#fafafa;}

#root_img {display:block;width:70%;height:95%;background: #f1f1f1;float: left;}
#hlog {display:block;width:25%;height:95%;background: #fafafa;float:right;}